.modal {
  max-width: 400px;
  max-height: 260px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.25), 0 0 20px rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  h1 {
    margin: 0;
    text-align: center;
  }

  button {
    margin-top: 16px;
    padding: 10px 20px;
    font-size: 1.125rem;
    border: 2px solid #000;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  form {

    .group {
      margin-top: 30px;
      position: relative;
    }

    label {
      font-size: 0.875rem;
      line-height: 1em;
      position: absolute;
      left: 4px;
      top: 0;
      transition: top 0.25s linear;
    }

    input {
      width: 100%;
      height: 40px;
      font-size: 1rem;
      padding: 0 10px;
      position: relative;
      z-index: 10;
    }

    input:not(:placeholder-shown) + label,
    input:focus:not(:placeholder-shown) + label {
      top: -18px;
    }

    button {
      width: 100%;
      height: 40px;
      margin-top: 30px;
      padding: 0 10px;
      position: relative;
      z-index: 10;
    }
  }

  &.page2 {
    max-height: 290px;

    form {

      .check {
        margin-top: 18px;
        text-align: left;
        
        td {
          vertical-align: top;
        }

        input, label {
          box-sizing: content-box;
        }

        input {
          width: 20px;
          height: 20px;
          margin-top: 0;
          background: #efefef;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 10px;
          appearance: none;

          &:before {
            $width: 14px;
            $radius: (14/2)px;
            content: '';
            margin-top: 2px;
            margin-left: -6px;
            width: $width;
            height: $width;
            background: #fff;
            border: 1px solid #999;
            border-radius: 7px;
            display: block;
            transition: margin-left 0.25s ease-in-out;
            cursor: pointer;
          }

          &.on {
            background: rgb(152, 255, 152);

            &:before {
              margin-left: 10px;
            }
          }
        }

        label {
          text-align: left;
          position: static;
          display: inline-block;
        }
      }

    }
  }
}

.App-header {

  & > div {
    width: 100vw !important;
    height: 100vh !important;
  }
}