.marker {
  position: relative;

  .thumbnail {
    width: 8rem;
    height: 10.063rem;
    background: white;
    @include border-radius(20);
    position: absolute;
    left: -126px;
    bottom: 14px;
  }
}