.marker {
  position: relative;

  .thumbnail {
    width: 8rem;
    height: 10.063rem;
    background: white;
    @include border-radius(1.25rem);
    position: absolute;
    left: -126px;
    bottom: 14px;
  }
}

.btn-marker{
  border: none;
  background-color: transparent;
  appearance: none
}

.img-marker{
  height: 380px; 
  width: 340px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mapboxgl-popup {

  &.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid white;
      border-right: 10px solid white;
      border-bottom: 10px solid white;
      border-left: 10px solid white;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
      display: block;
      transform: rotate(45deg);
      position: absolute;
      top: -20px;
      left: -10px;
    }
  }

  &.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    position: relative;
    filter: drop-shadow(0 4px 2px rgba(50, 50, 0, 0.5));

    &::before {
      content: '';
      background: #fff;
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: -11px;
      right: 0;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  &.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    position: relative;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));

    &::before {
      content: '';
      background: white;
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: -11px;
      left: 0;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }

  .mapboxgl-popup-content{
    padding: 0px;
    @include border-radius(10);
    display: flex;
    flex-direction: column;
    @include border-radius(1.25rem);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
}

.mapboxgl-popup-content .mapboxgl-popup-close-button{
  font-size: 2rem;
  margin: 5px;
  color: white
  // position: absolute;
}

.mapboxgl-popup-close-button:hover{
  font-size: 2rem;
  color: white;
  margin: 5px;
}
