.overlay {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  max-width: 21.25rem;
  margin: 40px auto;
  padding-bottom: 2.5rem;
  background-color: #fff;
  text-align: center;
  @include border-radius(10);
  display: inline-block;

  .head {
    padding: 3.063rem 3.313rem 1.625rem;
    background: transparent url('../assets/reg-header-bg.png');
    @include border-radius-corners(10px, 10px, 0, 0);

    h1 {
      width: 14.625rem;
      height: 4.313rem;
      margin: 0;
      background: transparent url('../assets/logo-geograpics.svg') no-repeat center center;
      text-align: center;
    }
  }

  h2, button {
    $margin-width: 1.875rem;
    margin-right: $margin-width;
    margin-left: $margin-width;
  }

  h2 {
    margin: 1.563rem 1.875rem 0;
    font: 1.5rem/1.083em $font-script-stack;
  }

  p {
    margin: 2.5rem 0 0.75rem;
  }

  a {
    padding: 1rem 2.25rem;
    letter-spacing: 0.0125rem;
    font: bold 1.063rem/1.125em $font-default-stack;
    border: none;
    border-radius: 1.625rem;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: opacity 0.25s linear, background-color 0.25s linear, filter 0.25s linear;

    &.btn-login {
      margin-top: 2.5rem;
      background-image: linear-gradient(90deg, #4F5BD5 4.79%, #962FBF 26.9%, #D62976 76.54%, #FA7E1E 95.21%);
      color: #fff;
      filter: saturate(100%);

      &:hover {
        filter: saturate(150%);
      }
    }

    &.btn-register {
      background-color: transparent;
      border: 0.125em solid #962FBF;

      &:hover {
        background-color: #962FBF;
        color: #fff;
      }
    }
  }

  form {

    .group {
      margin-top: 2.5rem;
      position: relative;
    }

    label {
      color: #7B7B7B;
      letter-spacing: 0.0125rem;
      font: bold 0.875rem/1.143em $font-default-stack;
      position: absolute;
      left: 0.25rem;
      top: 0;
      transition: top 0.25s linear;
    }

    input {
      width: 100%;
      height: 2.5rem;
      font-size: 1rem;
      padding: 0 0.625rem;
      position: relative;
      z-index: 10;
      border: 0.125rem solid #D8D8D8;
      @include border-radius(5);
    }

    input:not(:placeholder-shown) + label,
    input:focus:not(:placeholder-shown) + label {
      top: -1.125rem;
    }

    button {
      width: 100%;
      height: 3.375rem;
      margin-top: 2.5rem;
      padding: 0 0.625em;
      font: bold 1.063rem/1.125em $font-default-stack;
      position: relative;
      z-index: 10;
      @include border-radius(27);
    }
  }

  &.page2 {

    form {
      padding: 0 1.875rem;

      button {
        margin: 1.875rem 0 0;
        background: #962FBF;
        color: #fff;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.25s linear;

        &:hover {
          opacity: 1;
        }
      }

      .check {
        margin-top: 1.875rem;
        text-align: left;
        
        td {
          vertical-align: top;
        }

        input, label {
          box-sizing: content-box;
        }

        label {
          font-size: 1rem;

          span {
            font-weight: normal;
            font-size: 0.875rem;
          }
        }

        input {
          width: 1.875rem;
          height: 1.625rem;
          margin-top: 0;
          background: #efefef;
          display: inline-block;
          border: 0.063rem solid #ccc;
          @include border-radius(13);
          appearance: none;
          cursor: pointer;

          &:before {
            $width: 20;
            $radius: ($width/2);
            content: '';
            margin-top: 0.125em;
            margin-left: -0.375em;
            width: $width + px;
            height: $width + px;
            background: #fff;
            border: 0.063rem solid #999;
            border-radius: $radius + px;
            display: block;
            transition: margin-left 0.25s ease-in-out;
            cursor: pointer;
          }

          &.on {
            background: rgb(152, 255, 152);

            &:before {
              margin-left: 0.875rem;
            }
          }
        }

        label {
          text-align: left;
          position: static;
          display: inline-block;
        }
      }

    }
  }
}

@media only screen and (min-width: 400px) {
  .overlay {
    min-height: 500px;
  }
}